#sidebar.columns.two
    h2=sysName
    ul
        li
            h3=logDirec
        each logFileName in logFiles
            li
                a(href=logFileName)
                    i.fa.fa-book(aria-hidden=true)
                    span=' ' +  logFileName